<header>
  <div class="header-content">
    <div class="d-flex align-items-center w-25">
      <div class="d-flex align-items-center">
        <img src="../assets/img/grid-layout.svg" alt="grid" class="icon"/>
        <span class="board">
          Boards
        </span>
      </div>
      <div class="d-flex align-items-center search-content">
        <img src="../assets/img/search.svg" alt="search" class="icon"/>
        <input type="text" placeholder="Search ..." />
      </div>
    </div>
    <div class="app-name w-50 text-center">
      Trello
    </div>
    <div class="d-flex align-items-center w-25 justify-content-end">
      <div class="d-flex align-items-center">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/naitanamoreno/128.jpg" alt="user-image" class="user-icon"/>
        Hello, Sudhakar!
      </div>
      <div class="notification-icon">
        <img src="../assets/img/notification-grey.svg" alt="notification" class="icon" />
      </div>
      <div class="collapse-icon">
        <img src="../assets/img/menu.svg" alt="notification" class="icon" />
      </div>
    </div>
  </div>
</header>
<div class="main-container">
  <router-outlet></router-outlet>
</div>