@import '../assets/variables.scss';

header {
  height: 70px;
  background-color: $white;
  box-shadow: $box-shadow;
  position: fixed;
  width: 100%;
  z-index: 10;
  .header-content {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 25px;
    .board {
      margin-left: 12px;
    }
    .search-content {
      margin-left: 60px;
      input {
        border: none;
        margin-left: 12px;
        font-size: 16px;
        &::placeholder {
          color: $primaryColor;
          opacity: 0.6;
          font-style: italic;
        }
      }
    }
    .app-name {
      color: $primary-blue;
      font-style: italic;
      font-weight: 600;
      font-size: 28px;
    }
    .user-icon {
      height: 40px;
      width: 40px;
      border-radius: 4px;
      margin-right: 15px;
    }
    .collapse-icon {
      padding: 20px;
      border-left: 1px solid $border-color;;
    }
    .notification-icon {
      padding: 20px;
    }
  }
}
.main-container {
  padding: 30px 50px 80px 50px;
  position: relative;
  top: 70px;
}